{% extends 'adminmenu.html' %}
{% load static %}
{% block body %}
    <br>
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h4 style=" font-weight: bold; color: #4e73df;" >DASHBOARD</h4>
            {% comment %}<a href="{% url 'logout' %}" onclick="return confirm('Are you sure you want to logout?')" class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm">
                <i class="fas fa-sign-out-alt"></i> Logout
            </a>{% endcomment %}
        </div>

        <!-- Dashboard Summary -->
        <div class="row">
            <!-- Total Payments -->
            <div class="col-lg-4 col-md-4 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="text-center">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Payments</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">KES: {{ total_amount_transacted }}</div>
                            <i class="fas fa-money-bill-wave fa-2x text-gray-300 mt-3"></i>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Celeb Payments -->
            <div class="col-lg-4 col-md-4 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="text-center">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Celeb Payments</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">KES: {{ total_paid_to_clients }}</div>
                            <i class="fas fa-user-circle fa-2x text-gray-300 mt-3"></i>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Company Profit -->
            <div class="col-lg-4 col-md-4 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="text-center">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Company Profit</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">KES: {{ total_paid_to_company }}</div>
                            <i class="fas fa-chart-line fa-2x text-gray-300 mt-3"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Users and Requests -->
        <div class="row">
            <!-- Users -->
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="text-center">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Users</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_users }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Clients -->
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="text-center">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Clients</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_clients }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Celebrities -->
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="text-center">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Celebrities</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_celebs }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Unverified Celebs -->
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card border-left-danger shadow h-100 py-2">
                    <div class="card-body">
                        <div class="text-center">
                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Unverified Celebs
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ unapproved_celebs }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Payment and Withdrawal Requests -->
        <div class="row">
            <!-- Total Requests -->
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="text-center">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Requests</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_requests }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pending Requests -->
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="text-center">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-2">Pending Requests
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ pending_requests }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Withdrawal Requests -->
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card border-left-danger shadow h-100 py-2">
                    <div class="card-body">
                        <div class="text-center">
                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Withdrawal Requests
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ withdrawal_requests_count }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Times Withdrawn -->
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="text-center">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Times Withdrawn</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ withdrawn_requests_count }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
